.center {
    margin: 0 auto;
    border: 0;
}

th, td {
    width: 300px;
    height: 250px;
    padding: 10px;
}

.imagem {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    display: none;
}

h2{
    text-align: center;
}