body{
	background-color: antiquewhite;
}

.cadastro {
	width: 100%;
	padding-bottom: 50px;
}

h2{
	color: black;
	text-align: left;
	font-size: 18pt;
}

.panel.with-nav-tabs.panel-default{
	margin: auto;
	padding-bottom: 10px;
}

.panel.with-nav-tabs .panel-heading{
	padding: 10px 10px 0 20px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}

@media screen and (max-height: 350px) {
	h2{
		font-size: 13pt;
		text-align: center;
	}
}