
.navbar-nav.navbar-center {
    
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.modal-header {
    background-color: greenyellow;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    width: 60%; 
}