body{
    /* background-color: #C4E9F9; */
    margin: 0;
}

/* css pagina index */


/* .success-message {
    color:green;
    font-weight: bold;
}

.index-banner {
    width: 600px;
    padding-left: 30%;
    padding-bottom: 25px;
}

@media(min-width: 900px) {
    .index-banner {
        width: 800px;
        padding-left: 15%;
        padding-bottom: 50px;
    }
}

@media(min-width: 1200px) {
    .index-banner {
        width: 1100px;
        padding-left: 15%;
        padding-bottom: 50px;
    }
} */

.card {
    margin: 25px 50px 30px 100px; ;
    width: 80%;
    padding: 30px;
    box-shadow: 0 10px 10px 0 rgba(66, 92, 179, 0.918);
    transition: 0.3s;
    border-radius: 10px; 
    background-color: #2982bdc7;
    color: #fefefe;
}

.autoslides1 {
    position: relative;
    list-style: none;
    overflow: hidden;
}
  
.autoslides1 img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    float: left;
    border: transparent thin solid;
    margin: 0px 10px 10px 0;
}

.autoslides2 {
    position: relative;
    list-style: none;
    overflow: hidden;
}
  

.autoslides2 img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    float: left;
    border: transparent thin solid;
    margin: 0px 10px 10px 0;
}

/* fim css pagina index */


/* css pagina restrita */

.card-adm {
    padding: 0px;
    height: 200px;
}
.card-adm h2 {
    padding-top: 20px;
    font-size: 3em;
    text-align: left;
    padding-left: 20px;
}

.card-adm p {
    font-size: 5em;
    text-align: right;
    padding-right: 20px;
}

/* .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3E67FF ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 20px 100px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
    font-weight: bold;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 150px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */

/* fim css pagina restrita */

/* css pagina cadastrofunc */

.cadastro {
	width: 100%;
	padding-bottom: 50px;
}


/* fim css pagina cadastrofunc */

/* css pagina listagens */
.lista{
    
    background-color: #F4F4F4;
}

.listagens{
    color: black;
    text-align: center;
    font-size: 20pt;
}

.table-striped {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.tabelalistagens th, td {
    text-align: center;
    padding: auto;
} 

/* fim css pagina listagens */

/* fim css pagina agendamento */


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

.agendamento {
    border-radius: 5px;
    background-color: #F4F4F4;
    padding-top: 40px;
}  

/* fim css pagina agendamento */

/* css pagina contato */

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

.contato {
    border-radius: 5px;
    background-color: #F4F4F4;
    padding: 40px;
} 


/* fim css pagina contato */

/* inicio css header */
.modalbox{
    margin-left:25%;
    padding:1px 16px;
    height:1000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #2982bdc7;
    color: white;
}

li a:hover:not(.active) {
    text-decoration: none;
}

.modal-header {
    background-color: #E8F1F5;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    width: 60%; 
}
/* fim css index */

/* css pagina footer */

.footer {
    width:100%;
    text-align: center;
}

/* fim css pagina footer */


/* inicio css pagina galeria */
.center {
    margin: 0 auto;
    border: 0;
}

.galeria th, td {
    width: 300px;
    height: 250px;
    padding: 10px;
}

.imagem {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    display: none;
}

.video{
    width: 300px;
    height: 250px;
}
/* fim css pagina galeria */ 