.logo{
    padding: 10px 0 50px 340px;
    background-color: #F0FFFF;

}

.logo h1{
    padding: 30px;
}

.logo img{
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    width: 150px;
    height: 150px;

}

.slides1{
    padding: 20px 0 0 340px;    
    background-color: #FFF0F5;

}

.autoslides1 {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
  
.autoslides1 li {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.autoslides1 li:first-child {
    position: relative;
    display: block;
    float: left;
}

.autoslides1 img {
    width: 300px;
    height: 250px;
    border: 0;
    float: left;
    border: transparent thin solid;
    margin: 0px 10px 10px 0;
}

.slides2{
    padding: 35px 50px 0 340px;    
    background-color: #FFF0F5;

}

.autoslides2 {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
  
.autoslides2 li {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.autoslides2 li:first-child {
    position: relative;
    display: block;
    float: left;
}

.autoslides2 img {
    width: 300px;
    height: 250px;
    border: 0;
    float: left;
    border: transparent thin solid;
    margin: 0px 10px 10px 0;
}
