h2{
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

.agendamento {
    border-radius: 5px;
    background-color: gainsboro;
    padding: 20px;
    margin: auto;
} 

